body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

video {
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 3vh;
}

#settings {
  cursor: pointer;
}

#camera {
  padding: 3vh;
}

.content h2 {
  font-weight: 500;
  font-size: 3vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#interactive {
  position: absolute;
  width: 100%;
}

.scanner-frame {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: cen8ter;
  width: 80%;
  max-width: 400px;
  margin: 20px auto;
}

.scanner-label {
  font-weight: 500;
  font-size: 3vh;
  margin-bottom: 10px;
  text-align: center;
  z-index: 1;
}

.scanner-overlay {
  width: 100%;
  aspect-ratio: 1/1;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.1);
  position: relative;
  overflow: hidden;
}

.corner,
.scan-line {
  position: absolute;
}

.corner {
  position: absolute;
  width: 25px;
  height: 25px;
  border: 4px solid black;
}

.corner.tl {
  top: -2px;
  left: -2px;
  border-right: none;
  border-bottom: none;
}

.corner.tr {
  top: -2px;
  right: -2px;
  border-left: none;
  border-bottom: none;
}

.corner.bl {
  bottom: -2px;
  left: -2px;
  border-right: none;
  border-top: none;
}

.corner.br {
  bottom: -2px;
  right: -2px;
  border-left: none;
  border-top: none;
}

.scan-line {
  position: absolute;
  top: 50%;
  left: 5%;
  width: 90%;
  height: 2px;
  background-color: red;
  animation: scanMove 1.5s infinite alternate ease-in-out;
}

.barcode-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  gap: 10px;
  z-index: 10;
  position: relative;
}

.barcode-input {
  padding: 10px;
  width: 100%;
  max-width: 300px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.barcode-submit {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  background-color: #1375b6;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

@keyframes scanMove {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(100px);
  }
}
